In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import seaborn; 
from sklearn.linear_model import LinearRegression
from scipy import stats
import pylab as pl

seaborn.set()

In [38]:
# Pandas is used for data manipulation
import pandas as pd
# Read in data and display first 5 rows
df = pd.read_csv('/Users/abraryaser/Desktop/datasets/ieee-fraud-detection/train_transaction.csv')
df.head(5)

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
feature_list = ['isFraud', 'card4', 'card6',
            'TransactionAmt','ProductCD', 'P_emaildomain','R_emaildomain']
target = 'isFraud'
# Categorical features
cat = ['ProductCD', 'P_emaildomain','R_emaildomain', 'card4', 'card6']
# Numeric features
num = ['TransactionAmt']

In [40]:
temp = df[feature_list]
temp

,isFraud,card4,card6,TransactionAmt,ProductCD,P_emaildomain,R_emaildomain
0,0,discover,credit,68.50,W,NaN,NaN
1,0,mastercard,credit,29.00,W,gmail.com,NaN
2,0,visa,debit,59.00,W,outlook.com,NaN
3,0,mastercard,debit,50.00,W,yahoo.com,NaN
4,0,mastercard,credit,50.00,H,gmail.com,NaN
...,...,...,...,...,...,...,...
590535,0,visa,debit,49.00,W,NaN,NaN
590536,0,mastercard,debit,39.50,W,gmail.com,NaN
590537,0,mastercard,debit,30.95,W,gmail.com,NaN
590538,0,mastercard,debit,117.00,W,aol.com,NaN
590539,0,mastercard,credit,279.95,W,gmail.com,NaN

In [41]:
temp = temp.dropna()
temp

,isFraud,card4,card6,TransactionAmt,ProductCD,P_emaildomain,R_emaildomain
10,0,mastercard,credit,75.887,C,gmail.com,gmail.com
11,0,mastercard,debit,16.495,C,hotmail.com,hotmail.com
40,0,visa,credit,75.887,C,gmail.com,gmail.com
48,0,visa,debit,42.294,C,outlook.com,outlook.com
49,0,mastercard,credit,3.595,C,anonymous.com,anonymous.com
...,...,...,...,...,...,...,...
590521,0,mastercard,debit,48.877,C,yahoo.fr,yahoo.fr
590526,1,visa,credit,250.000,R,gmail.com,gmail.com
590529,0,mastercard,credit,73.838,C,gmail.com,gmail.com
590531,0,visa,credit,400.000,R,gmail.com,anonymous.com
590534,0,mastercard,debit,67.505,C,gmail.com,gmail.com

In [42]:
features = temp[cat]
features = pd.get_dummies(features)
features

,ProductCD_C,ProductCD_H,ProductCD_R,P_emaildomain_aim.com,P_emaildomain_anonymous.com,P_emaildomain_aol.com,P_emaildomain_att.net,P_emaildomain_bellsouth.net,P_emaildomain_cableone.net,P_emaildomain_centurylink.net,...,R_emaildomain_yahoo.es,R_emaildomain_yahoo.fr,R_emaildomain_ymail.com,card4_american express,card4_discover,card4_mastercard,card4_visa,card6_charge card,card6_credit,card6_debit
10,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
11,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
40,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
48,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
49,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590521,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1
590526,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
590529,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
590531,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
590534,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1

In [43]:
features['TransactionAmt'] = temp['TransactionAmt']
features

,ProductCD_C,ProductCD_H,ProductCD_R,P_emaildomain_aim.com,P_emaildomain_anonymous.com,P_emaildomain_aol.com,P_emaildomain_att.net,P_emaildomain_bellsouth.net,P_emaildomain_cableone.net,P_emaildomain_centurylink.net,...,R_emaildomain_yahoo.fr,R_emaildomain_ymail.com,card4_american express,card4_discover,card4_mastercard,card4_visa,card6_charge card,card6_credit,card6_debit,TransactionAmt
10,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,75.887
11,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,16.495
40,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,75.887
48,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,42.294
49,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,3.595
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590521,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,1,48.877
590526,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,250.000
590529,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,73.838
590531,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,400.000
590534,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,67.505

In [44]:
features['isFraud'] = temp['isFraud']
features

,ProductCD_C,ProductCD_H,ProductCD_R,P_emaildomain_aim.com,P_emaildomain_anonymous.com,P_emaildomain_aol.com,P_emaildomain_att.net,P_emaildomain_bellsouth.net,P_emaildomain_cableone.net,P_emaildomain_centurylink.net,...,R_emaildomain_ymail.com,card4_american express,card4_discover,card4_mastercard,card4_visa,card6_charge card,card6_credit,card6_debit,TransactionAmt,isFraud
10,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,75.887,0
11,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,16.495,0
40,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,75.887,0
48,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,42.294,0
49,1,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,1,0,3.595,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590521,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,48.877,0
590526,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,250.000,1
590529,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,73.838,0
590531,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,400.000,0
590534,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,67.505,0

In [45]:
# Use numpy to convert to arrays
import numpy as np

# Labels are the values we want to predict
labels = np.array(features['isFraud'])

# Remove the labels from the features
# axis 1 refers to the columns
features= features.drop('isFraud', axis = 1)

# Saving feature names for later use
feature_x = list(features.columns)

# Convert to numpy array
features = np.array(features)

In [46]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25,
                                                                           random_state = 42)

In [47]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (94515, 129)
Training Labels Shape: (94515,)
Testing Features Shape: (31506, 129)
Testing Labels Shape: (31506,)

In [54]:
# import Random Forest classifier

from sklearn.ensemble import RandomForestClassifier

# instantiate the classifier 

rfc = RandomForestClassifier(random_state=42)

# fit the model

rfc.fit(train_features, train_labels)

# Predict the Test set results

label_pred = rfc.predict(test_features)

# Check accuracy score 

from sklearn.metrics import accuracy_score

print('Model accuracy score with 10 decision-trees : {0:0.4f}'. format(accuracy_score(test_labels, label_pred)))

Model accuracy score with 10 decision-trees : 0.9257

In [55]:
from sklearn.metrics import classification_report

print(classification_report(test_labels, label_pred))

              precision    recall  f1-score   support

           0       0.95      0.97      0.96     28866
           1       0.58      0.42      0.49      2640

    accuracy                           0.93     31506
   macro avg       0.76      0.70      0.72     31506
weighted avg       0.92      0.93      0.92     31506

In [59]:
df[df['isFraud'] == 0].shape

(569877, 394)

In [60]:
df[df['isFraud'] == 1].shape

(20663, 394)

In [61]:
20663/569877

0.03625870143908247