In [1]:
import numpy as np
import pandas as pd
import altair as alt
from altair import Chart, X, Y

In [2]:
df = pd.read_csv('/Users/abraryaser/Documents/p-fraud/p-fraud/datasets/twitterhumandataset/twitter_human_bots_dataset.csv')

In [4]:
df.head()

,Unnamed: 0,created_at,default_profile,default_profile_image,description,favourites_count,followers_count,friends_count,geo_enabled,id,lang,location,profile_background_image_url,profile_image_url,screen_name,statuses_count,verified,average_tweets_per_day,account_age_days,account_type
0,0,2016-10-15 21:32:11,False,False,"Blame @xaiax, Inspired by @MakingInvisible, us...",4,1589,4,False,787405734442958848,en,unknown,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/7874121826...,best_in_dumbest,11041,False,7.870,1403,bot
1,1,2016-11-09 05:01:30,False,False,Photographing the American West since 1980. I ...,536,860,880,False,796216118331310080,en,Estados Unidos,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/8023296328...,CJRubinPhoto,252,False,0.183,1379,human
2,2,2017-06-17 05:34:27,False,False,Scruffy looking nerf herder and @twitch broadc...,3307,172,594,True,875949740503859204,en,"Los Angeles, CA",http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/1278890453...,SVGEGENT,1001,False,0.864,1159,human
3,3,2016-07-21 13:32:25,True,False,Wife.Godmother.Friend.Feline Fanatic! Assistan...,8433,517,633,True,756119643622735875,en,"Birmingham, AL",NaN,http://pbs.twimg.com/profile_images/1284884924...,TinkerVHELPK5,1324,False,0.889,1489,human
4,4,2012-01-15 16:32:35,False,False,Loan coach at @mancity & Aspiring DJ,88,753678,116,True,464781334,en,"England, United Kingdom",http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/9952566258...,JoleonLescott,4202,True,1.339,3138,human

In [15]:
df.describe()

,favourites_count,followers_count,friends_count,id,statuses_count,average_tweets_per_day,account_age_days
count,37438.000000,3.743800e+04,3.743800e+04,3.743800e+04,3.743800e+04,37438.000000,37438.000000
mean,12302.062183,3.703098e+05,4.445925e+03,1.221536e+17,2.107339e+04,6.891668,3022.128052
std,33923.650237,2.470829e+06,4.954520e+04,3.004313e+17,6.732977e+04,24.580116,1013.695870
min,0.000000,0.000000e+00,0.000000e+00,4.180000e+02,0.000000e+00,0.000000,483.000000
25%,362.000000,3.500000e+01,3.700000e+01,9.957306e+07,1.336250e+03,0.495000,2316.250000
50%,2066.000000,3.650000e+02,2.960000e+02,3.991474e+08,4.209000e+03,1.488000,3219.000000
75%,8879.000000,8.440250e+03,8.930000e+02,2.453826e+09,1.715375e+04,5.528000,3888.000000
max,885123.000000,1.216415e+08,4.343060e+06,1.120974e+18,2.771910e+06,1269.055000,5158.000000

In [18]:
human_df = df[df['account_type'] == 'human']
human_df

,created_at,default_profile,default_profile_image,description,favourites_count,followers_count,friends_count,geo_enabled,id,lang,location,profile_background_image_url,profile_image_url,screen_name,statuses_count,verified,average_tweets_per_day,account_age_days,account_type
1,2016-11-09 05:01:30,False,False,Photographing the American West since 1980. I ...,536,860,880,False,796216118331310080,en,Estados Unidos,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/8023296328...,CJRubinPhoto,252,False,0.183,1379,human
2,2017-06-17 05:34:27,False,False,Scruffy looking nerf herder and @twitch broadc...,3307,172,594,True,875949740503859204,en,"Los Angeles, CA",http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/1278890453...,SVGEGENT,1001,False,0.864,1159,human
3,2016-07-21 13:32:25,True,False,Wife.Godmother.Friend.Feline Fanatic! Assistan...,8433,517,633,True,756119643622735875,en,"Birmingham, AL",NaN,http://pbs.twimg.com/profile_images/1284884924...,TinkerVHELPK5,1324,False,0.889,1489,human
4,2012-01-15 16:32:35,False,False,Loan coach at @mancity & Aspiring DJ,88,753678,116,True,464781334,en,"England, United Kingdom",http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/9952566258...,JoleonLescott,4202,True,1.339,3138,human
6,2009-07-08 22:22:59,False,False,"Co-Host of @TheTalkCBS, Judge on @DancingABC, ...",5522,291529,1581,True,55050269,en,Los Angeles,http://abs.twimg.com/images/themes/theme14/bg.gif,http://pbs.twimg.com/profile_images/1275104892...,carrieanninaba,14535,True,3.581,4059,human
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37431,2010-02-05 19:27:35,False,False,"MD & Chairman,ThinkInk Picturez WRITER/DIRECTO...",24720,85561,2579,True,111673307,en,"Andheri West, Mumbai",http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/1293993875...,writerraj,21468,False,5.580,3847,human
37433,2009-08-08 13:11:15,True,False,"Role: Stock Taker. Past Roles: Nanny, Sales As...",651,139,1105,False,63963107,en,Kingston Upon Hull,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/5844684414...,butchsekab,340,False,0.084,4028,human
37434,2013-01-05 21:35:37,False,False,KINGDOM LANDLORD #FreeCornBread,8839,1121486,605,True,1064042478,en,unknown,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/9511349456...,Mathieu_Era,24970,True,8.976,2782,human
37435,2013-01-14 18:05:54,True,False,Bienvenid@s al Twitter Oficial de Sergio Dalma...,399,85630,190,False,1089732602,it,En constante movimiento,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/1174733822...,SDalmaoficial,6174,True,2.226,2773,human
37436,2012-09-10 16:12:02,False,False,Just a good guy wrapped up in a bad system.\nA...,967,138,166,True,815529979,en,"Los Angeles, CA",http://abs.twimg.com/images/themes/theme14/bg.gif,http://pbs.twimg.com/profile_images/1265807908...,VinceYearly,982,False,0.339,2899,human

In [24]:
human_stats = human_df.describe()
human_stats

,favourites_count,followers_count,friends_count,id,statuses_count,average_tweets_per_day,account_age_days
count,25013.000000,2.501300e+04,2.501300e+04,2.501300e+04,2.501300e+04,25013.000000,25013.000000
mean,16186.048455,5.177475e+05,4.207621e+03,9.950544e+16,2.146526e+04,6.712556,3173.561308
std,37322.654404,2.916633e+06,4.764074e+04,2.754915e+17,4.694461e+04,14.585320,995.928741
min,0.000000,0.000000e+00,0.000000e+00,4.180000e+02,0.000000e+00,0.000000,606.000000
25%,649.000000,1.840000e+02,1.720000e+02,6.289496e+07,2.093000e+03,0.715000,2542.000000
50%,3649.000000,1.046000e+03,4.740000e+02,2.926198e+08,7.551000e+03,2.410000,3395.000000
75%,14955.000000,7.224600e+04,1.153000e+03,1.714083e+09,2.238000e+04,6.933000,4032.000000
max,885123.000000,1.216415e+08,4.343060e+06,1.076120e+18,2.129049e+06,557.927000,5158.000000

In [21]:
bot_df = df[df['account_type'] == 'bot']
bot_df

,created_at,default_profile,default_profile_image,description,favourites_count,followers_count,friends_count,geo_enabled,id,lang,location,profile_background_image_url,profile_image_url,screen_name,statuses_count,verified,average_tweets_per_day,account_age_days,account_type
0,2016-10-15 21:32:11,False,False,"Blame @xaiax, Inspired by @MakingInvisible, us...",4,1589,4,False,787405734442958848,en,unknown,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/7874121826...,best_in_dumbest,11041,False,7.870,1403,bot
5,2016-11-21 22:50:30,True,False,ŸÑÿß ÿ•ŸÑŸá ÿ•ŸÑÿß ÿßŸÑŸÑŸá . ŸÅÿπŸÑ ÿßŸÑÿ™ŸÜÿ®ŸäŸáÿßÿ™ üå∑üéñÿπÿßÿØŸÑ ...ÿ≠ÿ≥ÿßÿ®...,237,27394,542,False,800833795234611200,ar,ŸÖŸÉÿ© ÿßŸÑŸÖŸÉÿ±ŸÖÿ©,NaN,http://pbs.twimg.com/profile_images/1273524501...,Ayat_140,11513,False,8.428,1366,bot
11,2014-06-21 00:14:06,False,False,micropoetry bot ¬∂ license: https://t.co/vuvanD...,0,26675,26,False,2579497028,en,unknown,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/4801568366...,poem_exe,24087,False,10.701,2251,bot
19,2011-10-03 22:39:21,True,False,NaN,510,6,33,False,384565337,NaN,unknown,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/5977552044...,ChuckBaechel,639,False,0.197,3242,bot
21,2013-02-15 21:29:28,True,False,You love it harshly? Come in! üíõüíõüíõ https://t.co...,187,4,0,False,1183842404,en,unknown,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/9637784407...,ValdakR,23,False,0.008,2741,bot
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37420,2010-01-24 13:42:17,False,False,NaN,2465,114,70,True,108003230,NaN,Salvador,http://abs.twimg.com/images/themes/theme11/bg.gif,http://pbs.twimg.com/profile_images/6930461238...,_TaisCarvalho_,5799,False,1.503,3859,bot
37421,2014-10-20 11:15:14,False,False,Spreading the Good News. (Following/FAVs/RTs ‚â†...,104230,4625,1905,True,2837970855,en,unknown,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/5244829804...,CatholicTweet1,66710,False,31.334,2129,bot
37422,2013-06-30 00:53:14,True,False,NaN,1368,6,170,False,1556873126,NaN,unknown,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/7273819420...,99091117,2056,False,0.789,2607,bot
37432,2014-10-22 10:44:43,True,False,Pretty girl. Dancing / Fitness lover. Waiting ...,439,13,0,False,2841116638,en,unknown,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/9645312717...,OwNeer_99,82,False,0.039,2128,bot
37437,2011-12-12 12:59:28,False,False,‰Ω†Â•ΩÔºÅ‰∏≠ÂõΩ,1092,5,39,False,434896892,zh-cn,‰∏≠ÂõΩ,http://abs.twimg.com/images/themes/theme19/bg.gif,http://pbs.twimg.com/profile_images/1688940752...,zhemcom,1563,False,0.493,3172,bot

In [23]:
bot_stats = bot_df.describe()
bot_stats

,favourites_count,followers_count,friends_count,id,statuses_count,average_tweets_per_day,account_age_days
count,12425.000000,1.242500e+04,1.242500e+04,1.242500e+04,1.242500e+04,12425.000000,12425.000000
mean,4483.136740,7.350027e+04,4.925660e+03,1.677470e+17,2.028449e+04,7.252241,2717.274930
std,23913.709073,1.066970e+06,5.317140e+04,3.406919e+17,9.603377e+04,37.310915,980.016502
min,0.000000,0.000000e+00,0.000000e+00,3.097300e+04,0.000000e+00,0.000000,483.000000
25%,140.000000,8.000000e+00,0.000000e+00,2.552543e+08,4.050000e+02,0.222000,1900.000000
50%,1131.000000,2.500000e+01,3.100000e+01,8.464964e+08,2.178000e+03,0.817000,2882.000000
75%,2231.000000,1.930000e+02,2.470000e+02,3.266893e+09,4.481000e+03,1.949000,3467.000000
max,839929.000000,4.955794e+07,2.169597e+06,1.120974e+18,2.771910e+06,1269.055000,5011.000000

In [41]:
bot_df[bot_df['verified']].shape # none of the bot accounts are verified

(316, 19)

In [37]:
human_df[human_df['verified']].shape

(7235, 19)

In [46]:
stats = pd.concat([human_stats, bot_stats], join = 'outer')
stats

,favourites_count,followers_count,friends_count,id,statuses_count,average_tweets_per_day,account_age_days
count,25013.000000,2.501300e+04,2.501300e+04,2.501300e+04,2.501300e+04,25013.000000,25013.000000
mean,16186.048455,5.177475e+05,4.207621e+03,9.950544e+16,2.146526e+04,6.712556,3173.561308
std,37322.654404,2.916633e+06,4.764074e+04,2.754915e+17,4.694461e+04,14.585320,995.928741
min,0.000000,0.000000e+00,0.000000e+00,4.180000e+02,0.000000e+00,0.000000,606.000000
25%,649.000000,1.840000e+02,1.720000e+02,6.289496e+07,2.093000e+03,0.715000,2542.000000
50%,3649.000000,1.046000e+03,4.740000e+02,2.926198e+08,7.551000e+03,2.410000,3395.000000
75%,14955.000000,7.224600e+04,1.153000e+03,1.714083e+09,2.238000e+04,6.933000,4032.000000
max,885123.000000,1.216415e+08,4.343060e+06,1.076120e+18,2.129049e+06,557.927000,5158.000000
count,12425.000000,1.242500e+04,1.242500e+04,1.242500e+04,1.242500e+04,12425.000000,12425.000000
mean,4483.136740,7.350027e+04,4.925660e+03,1.677470e+17,2.028449e+04,7.252241,2717.274930
std,23913.709073,1.066970e+06,5.317140e+04,3.406919e+17,9.603377e+04,37.310915,980.016502
min,0.000000,0.000000e+00,0.000000e+00,3.097300e+04,0.000000e+00,0.000000,483.000000
25%,140.000000,8.000000e+00,0.000000e+00,2.552543e+08,4.050000e+02,0.222000,1900.000000
50%,1131.000000,2.500000e+01,3.100000e+01,8.464964e+08,2.178000e+03,0.817000,2882.000000
75%,2231.000000,1.930000e+02,2.470000e+02,3.266893e+09,4.481000e+03,1.949000,3467.000000
max,839929.000000,4.955794e+07,2.169597e+06,1.120974e+18,2.771910e+06,1269.055000,5011.000000

In [52]:
df.groupby('account_type')['favourites_count'].describe()

,count,mean,std,min,25%,50%,75%,max
account_type,,,,,,,,
bot,12425.0,4483.136740,23913.709073,0.0,140.0,1131.0,2231.0,839929.0
human,25013.0,16186.048455,37322.654404,0.0,649.0,3649.0,14955.0,885123.0

In [90]:
df.columns

Index(['created_at', 'default_profile', 'default_profile_image', 'description',
       'favourites_count', 'followers_count', 'friends_count', 'geo_enabled',
       'id', 'lang', 'location', 'profile_background_image_url',
       'profile_image_url', 'screen_name', 'statuses_count', 'verified',
       'average_tweets_per_day', 'account_age_days', 'account_type'],
      dtype='object')

In [104]:
df_list = []
for item in df.columns:
    dataframe = df.groupby('account_type')[item].describe()
    dataframe['Characteristics'] = item
    df_list.append(dataframe)

In [105]:
detailed_stats = pd.concat(df_list, join = 'outer')
detailed_stats = detailed_stats.drop(['25%', '50%', '75%'], axis = 1)
detailed_stats

,count,unique,top,freq,Characteristics,mean,std,min,max
account_type,,,,,,,,,
bot,12425,12421,2015-11-03 10:56:15,2,created_at,NaN,NaN,NaN,NaN
human,25013,25011,2016-09-03 20:06:04,2,created_at,NaN,NaN,NaN,NaN
bot,12425,2,True,7741,default_profile,NaN,NaN,NaN,NaN
human,25013,2,False,17034,default_profile,NaN,NaN,NaN,NaN
bot,12425,2,False,12042,default_profile_image,NaN,NaN,NaN,NaN
human,25013,2,False,24838,default_profile_image,NaN,NaN,NaN,NaN
bot,8080,7995,I am not afraid of death; I just don't want to...,7,description,NaN,NaN,NaN,NaN
human,22102,21984,Actor,13,description,NaN,NaN,NaN,NaN
bot,12425.0,NaN,NaN,NaN,favourites_count,4.483137e+03,2.391371e+04,0.0,8.399290e+05
human,25013.0,NaN,NaN,NaN,favourites_count,1.618605e+04,3.732265e+04,0.0,8.851230e+05
bot,12425.0,NaN,NaN,NaN,followers_count,7.350027e+04,1.066970e+06,0.0,4.955794e+07
human,25013.0,NaN,NaN,NaN,followers_count,5.177475e+05,2.916633e+06,0.0,1.216415e+08
bot,12425.0,NaN,NaN,NaN,friends_count,4.925660e+03,5.317140e+04,0.0,2.169597e+06
human,25013.0,NaN,NaN,NaN,friends_count,4.207621e+03,4.764074e+04,0.0,4.343060e+06
bot,12425,2,False,9709,geo_enabled,NaN,NaN,NaN,NaN
human,25013,2,True,14361,geo_enabled,NaN,NaN,NaN,NaN
bot,12425.0,NaN,NaN,NaN,id,1.677470e+17,3.406919e+17,30973.0,1.120974e+18
human,25013.0,NaN,NaN,NaN,id,9.950544e+16,2.754915e+17,418.0,1.076120e+18
bot,7932,45,en,5238,lang,NaN,NaN,NaN,NaN
human,21549,47,en,16212,lang,NaN,NaN,NaN,NaN
bot,12424,4022,unknown,6254,location,NaN,NaN,NaN,NaN
human,25011,8977,unknown,6769,location,NaN,NaN,NaN,NaN
bot,10281,20,http://abs.twimg.com/images/themes/theme1/bg.png,8120,profile_background_image_url,NaN,NaN,NaN,NaN
human,22658,20,http://abs.twimg.com/images/themes/theme1/bg.png,13697,profile_background_image_url,NaN,NaN,NaN,NaN
bot,12424,12042,http://abs.twimg.com/sticky/default_profile_im...,383,profile_image_url,NaN,NaN,NaN,NaN
human,25013,24839,http://abs.twimg.com/sticky/default_profile_im...,175,profile_image_url,NaN,NaN,NaN,NaN
bot,12425,12425,best_in_dumbest,1,screen_name,NaN,NaN,NaN,NaN
human,25013,25013,CJRubinPhoto,1,screen_name,NaN,NaN,NaN,NaN
bot,12425.0,NaN,NaN,NaN,statuses_count,2.028449e+04,9.603377e+04,0.0,2.771910e+06
human,25013.0,NaN,NaN,NaN,statuses_count,2.146526e+04,4.694461e+04,0.0,2.129049e+06
bot,12425,2,False,12109,verified,NaN,NaN,NaN,NaN
human,25013,2,False,17778,verified,NaN,NaN,NaN,NaN
bot,12425.0,NaN,NaN,NaN,average_tweets_per_day,7.252241e+00,3.731092e+01,0.0,1.269055e+03
human,25013.0,NaN,NaN,NaN,average_tweets_per_day,6.712556e+00,1.458532e+01,0.0,5.579270e+02
bot,12425.0,NaN,NaN,NaN,account_age_days,2.717275e+03,9.800165e+02,483.0,5.011000e+03
human,25013.0,NaN,NaN,NaN,account_age_days,3.173561e+03,9.959287e+02,606.0,5.158000e+03
bot,12425,1,bot,12425,account_type,NaN,NaN,NaN,NaN
human,25013,1,human,25013,account_type,NaN,NaN,NaN,NaN

In [106]:
first_column = detailed_stats.pop('Characteristics')
detailed_stats.insert(0, 'Characteristics', first_column)

In [107]:
detailed_stats

,Characteristics,count,unique,top,freq,mean,std,min,max
account_type,,,,,,,,,
bot,created_at,12425,12421,2015-11-03 10:56:15,2,NaN,NaN,NaN,NaN
human,created_at,25013,25011,2016-09-03 20:06:04,2,NaN,NaN,NaN,NaN
bot,default_profile,12425,2,True,7741,NaN,NaN,NaN,NaN
human,default_profile,25013,2,False,17034,NaN,NaN,NaN,NaN
bot,default_profile_image,12425,2,False,12042,NaN,NaN,NaN,NaN
human,default_profile_image,25013,2,False,24838,NaN,NaN,NaN,NaN
bot,description,8080,7995,I am not afraid of death; I just don't want to...,7,NaN,NaN,NaN,NaN
human,description,22102,21984,Actor,13,NaN,NaN,NaN,NaN
bot,favourites_count,12425.0,NaN,NaN,NaN,4.483137e+03,2.391371e+04,0.0,8.399290e+05
human,favourites_count,25013.0,NaN,NaN,NaN,1.618605e+04,3.732265e+04,0.0,8.851230e+05
bot,followers_count,12425.0,NaN,NaN,NaN,7.350027e+04,1.066970e+06,0.0,4.955794e+07
human,followers_count,25013.0,NaN,NaN,NaN,5.177475e+05,2.916633e+06,0.0,1.216415e+08
bot,friends_count,12425.0,NaN,NaN,NaN,4.925660e+03,5.317140e+04,0.0,2.169597e+06
human,friends_count,25013.0,NaN,NaN,NaN,4.207621e+03,4.764074e+04,0.0,4.343060e+06
bot,geo_enabled,12425,2,False,9709,NaN,NaN,NaN,NaN
human,geo_enabled,25013,2,True,14361,NaN,NaN,NaN,NaN
bot,id,12425.0,NaN,NaN,NaN,1.677470e+17,3.406919e+17,30973.0,1.120974e+18
human,id,25013.0,NaN,NaN,NaN,9.950544e+16,2.754915e+17,418.0,1.076120e+18
bot,lang,7932,45,en,5238,NaN,NaN,NaN,NaN
human,lang,21549,47,en,16212,NaN,NaN,NaN,NaN
bot,location,12424,4022,unknown,6254,NaN,NaN,NaN,NaN
human,location,25011,8977,unknown,6769,NaN,NaN,NaN,NaN
bot,profile_background_image_url,10281,20,http://abs.twimg.com/images/themes/theme1/bg.png,8120,NaN,NaN,NaN,NaN
human,profile_background_image_url,22658,20,http://abs.twimg.com/images/themes/theme1/bg.png,13697,NaN,NaN,NaN,NaN
bot,profile_image_url,12424,12042,http://abs.twimg.com/sticky/default_profile_im...,383,NaN,NaN,NaN,NaN
human,profile_image_url,25013,24839,http://abs.twimg.com/sticky/default_profile_im...,175,NaN,NaN,NaN,NaN
bot,screen_name,12425,12425,best_in_dumbest,1,NaN,NaN,NaN,NaN
human,screen_name,25013,25013,CJRubinPhoto,1,NaN,NaN,NaN,NaN
bot,statuses_count,12425.0,NaN,NaN,NaN,2.028449e+04,9.603377e+04,0.0,2.771910e+06
human,statuses_count,25013.0,NaN,NaN,NaN,2.146526e+04,4.694461e+04,0.0,2.129049e+06
bot,verified,12425,2,False,12109,NaN,NaN,NaN,NaN
human,verified,25013,2,False,17778,NaN,NaN,NaN,NaN
bot,average_tweets_per_day,12425.0,NaN,NaN,NaN,7.252241e+00,3.731092e+01,0.0,1.269055e+03
human,average_tweets_per_day,25013.0,NaN,NaN,NaN,6.712556e+00,1.458532e+01,0.0,5.579270e+02
bot,account_age_days,12425.0,NaN,NaN,NaN,2.717275e+03,9.800165e+02,483.0,5.011000e+03
human,account_age_days,25013.0,NaN,NaN,NaN,3.173561e+03,9.959287e+02,606.0,5.158000e+03
bot,account_type,12425,1,bot,12425,NaN,NaN,NaN,NaN
human,account_type,25013,1,human,25013,NaN,NaN,NaN,NaN